<html>
  <head></head>
  <body>
    <h1>Hello, welcome to the Music Library Database App<%=@name%>!</h1>
    <h3>What would you like to do?</h3>

    <div>
      <a href="/artists">View artists</a>
    </div>

    <div>
      <a href="/albums">View albums</a>
    </div>

    <div>
      <a href="/albums/new">Add an album</a>
    </div>

    <div>
      <a href="/artists/new">Add an artist</a>
    </div>
  </body>
<html>